:root {
    --background: #000000;
    --shadows: #0f0f0f3f;
    --surface: #030100;
    --border: #6E5643;
    --accent: #AA7053;
    --gold: #CCAD5C;
    --text: #ECE5D8;
}

body {
    margin: 0;
    min-height: 100vh;


    justify-content: center;
    align-items: normal;

    background:
        url("assets/images/textures/dark-wood.png"),
        linear-gradient(
            135deg,
            var(--background));

    background-repeat: repeat;

    color: var(--text);
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

p {
    color: var(--text);
}

h1 {
    color: var(--gold);
    font-size: 24px;

    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
}

h2 {
    color: var(--accent);
    font-size: 20px;

    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
}

h3{
    color: var(--gold);
    font-size: 26px;

    
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
}

h4 {
    color: var(--accent);
    font-size: 24px;

    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;

    border-bottom: 1px solid var(--border);
    box-shadow: 0px 0px 3px var(--border);

    background:
        url("assets/images/textures/dark-leather.png"),
        linear-gradient(180deg, var(--surface));

    background-repeat: repeat;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 5px 0;
}

nav a {
    font-family: "Open Sans", sans-serif;
    color:var(--accent);
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    
    display: inline-block;
    transition:
    color .2s ease,
    transform .2s ease;
}

nav a:hover {
    color: var(--gold);
    transform: translateY(-2px) scale(1.05);
    text-shadow: 0 0 2px var(--shadows);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
    
}

.profile-border {
    width: 260px;
    height: 260px;

    padding: 5px;
    border-radius: 50%;

    background: linear-gradient(
        135deg,
        var(--accent),
        var(--gold)
        
    );

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px var(--accent);
    transition: transform .3s ease;
}

.profile-border:hover {
    transform: scale(1.03);
}

.profile-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.hero-text {
    text-align: left;
}

.project-card {

    max-width: 1000px;
    margin: 50px auto;

    background-color: var(--surface);
    background: 
    url("assets/images/textures/dark-leather.png"),
    var(--surface);
    background-repeat: repeat;

    border-radius: 20px;

    padding-left: 35px;
    padding-top: 5px; /*oli 30, muita ei ollut*/
    padding-bottom: 10px;
    padding-right: 25px;

    border: 1px solid var(--border);
    box-shadow: 0 0 4px var(--border);

}

.project-content {

    margin-top: 0px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: left;

}

.carousel {
    position: relative;

    width: 100%;
    height: 500px;

    overflow: hidden;
    border-radius: 10px;
 
    background: 
    url("assets/images/textures/dark-leather.png"),
    var(--surface);
    background-repeat: repeat;

}

.carousel-media {
    width: 100%;
    height: 100%;
}

.carousel-media img,
.carousel-media video {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    display: block;
}

.carousel-btn {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    font-size: 28px;
    font-weight: bold;

    color: #EEC5A0;

    background: rgba(238, 197, 160,.10);

    transition: .2s;
}

.carousel-btn:hover {

    background: rgba(173,110,84,.75);
    transform: translateY(-50%) scale(1.08);

}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.project-nav {

    position: fixed;

    top: 100px;
    left: 40px;

    width: 200px;

    background: 
    url("assets/images/textures/dark-leather.png"),
    var(--surface);
    background-repeat: repeat;

    border-radius: 15px;

    padding: 15px;

    border: 1px solid var(--border);
    box-shadow: 0 0 4px var(--border);

}

.project-nav h3 {

    color: var(--gold);
    margin-top: 0;
    margin-bottom: 30px;

}

.project-nav a {

    display: block;

    color: var(--text);
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
    text-decoration: none;

    font-size: 13px;

    padding: 8px 0;

    transition: .2s;
}

.project-nav a:hover {

    color: var(--accent);
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 8px var(--shadows);
    transform: translateX(5px);
}

.project-nav hr {

    border: none;
    border-top: 1px solid var(--gold);

    margin: 10px 0;
}

.nav-category {

    color: var(--accent);
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,

         0 0 3px var(--shadows),
         0 0 5px var(--shadows);
    font-size: 13px;
    font-weight: bold;

    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.contact-container {
    max-width: 1000px;
    min-height: calc(100vh - 60px);

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;   
}

.contact-email,
.contact-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-email {
    gap: 0px;
}

.contact-socials {
    gap: 40px;
}

.contact-email a,
.contact-socials a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--text);
}

.contact-email img,
.contact-socials img {
    width: 125px;
    height: 125px;
}

.contact-divider {
    width: 450px;
    height: 2px;

    background: var(--gold);

    margin: 40px auto;
}

.contact-heading {
    margin-bottom: 40px;
}

footer {
  text-align: center;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}