:root {
    --grid-background-color: #17191A;
}

body {
    margin: 0;
    min-height: 100vh;


    justify-content: center;
    align-items: normal;

    background:
        url("assets/images/textures/dark-wood.png"),
        linear-gradient(
            135deg,
            #17191A);
    background-repeat: repeat;

    color: white;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #EEC5A0;
}

h1 {
    color: #AD6E54;
    font-size: 26px;

    text-align: center;
    text-shadow:
    0 0 2px rgba(0, 0, 0, 0.247),
    0 0 10px rgba(0, 0, 0, 0.144);    
}

h2 {
    color: #AD6E54;
    font-size: 20px;

    text-align: center;
    text-shadow:
    0 0 2px rgba(0, 0, 0, 0.247),
    0 0 10px rgba(0, 0, 0, 0.144);    
}

h3{
    color: #AD6E54;
    font-size: 26px;

    
    text-shadow:
    0 0 2px rgba(0, 0, 0, 0.247),
    0 0 10px rgba(0, 0, 0, 0.144);   
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;

    box-shadow: 0px 1px 4px #AD6E54;

    background:
        url("assets/images/textures/black-linen.png"),
        linear-gradient(180deg, #17191A);

    background-repeat: repeat;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 5px 0;
}

nav a {
    color:#EEC5A0;
    text-shadow: 0 0 8px #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    
    display: inline-block;
    transition:
    color .2s ease,
    transform .2s ease;
}

nav a:hover {
    color: #AD6E54;
    transform: translateY(-2px) scale(1.05);
    text-shadow: 0 0 2px #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
  
.grid-item {
    background: var(--grid-background-color);
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
}
  
.grid-item h2 {
    margin-top: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
    
}

.profile-border {
    width: 260px;
    height: 260px;

    padding: 5px;          /* Reunuksen paksuus */
    border-radius: 50%;

    background: linear-gradient(
        135deg,
        #EEC5A0,
        #AD6E54
        
    );

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(238, 197, 160, 0.25);
    transition: transform .3s ease;
}

.profile-border:hover {
    transform: scale(1.03);
}

.profile-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.hero-text {
    text-align: left;
}

.project-card {

    max-width: 1000px;
    margin: 50px auto;

    background-color:#273231;
    background: 
    url("assets/images/textures/classy-fabric.png"),
    #17191A;
    background-repeat: repeat;

    border-radius: 20px;

    padding-left: 35px;
    padding-top: 5px; /*oli 30, muita ei ollut*/
    padding-bottom: 10px;
    padding-right: 25px;

    box-shadow: 0 0 2px rgba(173, 110, 84, 1);

}

.project-content {

    margin-top: 0px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: left;

}

.carousel {
    position: relative;

    width: 100%;
    height: 500px;

    overflow: hidden;
    border-radius: 10px;
 
    background: 
    url("assets/images/textures/egg-shell.png"),
    #17191A;
    background-repeat: repeat;

}

.carousel-media {
    width: 100%;
    height: 100%;
}

.carousel-media img,
.carousel-media video {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    display: block;
}

.carousel-btn {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    font-size: 28px;
    font-weight: bold;

    color: #EEC5A0;

    background: rgba(238, 197, 160,.10);

    transition: .2s;
}

.carousel-btn:hover {

    background: rgba(173,110,84,.75);
    transform: translateY(-50%) scale(1.08);

}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.project-nav {

    position: fixed;

    top: 120px;
    left: 30px;

    width: 220px;

    background: 
    url("assets/images/textures/classy-fabric.png"),
    #17191A;
    background-repeat: repeat;

    border-radius: 15px;

    padding: 20px;

    box-shadow: 0 0 2px rgba(173, 110, 84, 1);

}

.project-nav h3 {

    color:#AD6E54;
    margin-top: 0;
    margin-bottom: 15px;

}

.project-nav a {

    display: block;

    color: #EEC5A0;
    text-decoration: none;

    font-size: 13px;

    padding: 8px 0;

    transition: .2s;
}

.project-nav a:hover {

    color: #AD6E54;
    transform: translateX(5px);
}

.project-nav hr {

    border: none;
    border-top: 1px solid rgb(238, 197, 160);

    margin: 12px 0;
}

.nav-category {

    color: #AD6E54;
    font-size: 13px;
    font-weight: bold;

    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.contact-card a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
}

.contact-card img {
    width: 100px;
    height: 100px;
}

.contact-divider {
    width: 550px;
    height: 2px;

    background: #AD6E54;

    margin: 40px auto;
}

footer {
  text-align: center;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}